@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TJJoyofsingingEB";
  src: url("./asset/TJJoyofsingingEB.otf") format("otf");
}

@font-face {
  font-family: "TJJoyofsingingB";
  src: url("./asset/TJJoyofsingingB.otf") format("otf");
}

@font-face {
  font-family: "TJJoyofsingingL";
  src: url("./asset/TJJoyofsingingL.otf") format("otf");
}

@font-face {
  font-family: "TJJoyofsingingM";
  src: url("./asset/TJJoyofsingingM.otf") format("otf");
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
